/* Global Styles for the
/* Karen Stevens Website.
/* Coded with love by
/* Randy Greene of RG Creative
/* http://discoverRG.com
/* March 2014


/* GENERAL RESETS */
body {
	background: #2f2f2f url('../img/ks_bg.jpg') no-repeat top right;
	background-size: cover;
	border-top: solid 10px #2f2f2f;
	border-bottom: solid 10px #2f2f2f;
	border-top: solid 10px rgba(47,47,47,.85);
	border-bottom: solid 10px rgba(47,47,47,.85);
	font-family: 'League Gothic', sans-serif;
}
p small {
	color: #ccc;
	font-family: Arial, sans-serif;
}
.btn.btn-small  {
	color: #ccc;
	background: none;
	padding: 0;
	font-family: Arial, sans-serif;
}
.mainBody {
	clear: both;
	margin: 320px auto 150px auto;
}
#join {
	float: right;
	margin: -15px 60px 0 0;
}

/* NAV AREA */
.navbar {
	margin-top: 0;
	background: url('../img/nav-bg_1x90.png') repeat-x;
	height: 91px;
}
#saba-logo {
	float:left;
	margin-left: 35px;
}
#ks-logo {
	float: right;
	margin-right: 35px;
	max-width: 90%;
}

/* SLIDER */
#slider {
	float: left;
	width: 94%;
	padding: 10px;
	background: #2f2f2f;
	background:rgba(47,47,47,.85);
	border-radius: 4px;
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#slider .carousel-inner {
	max-width: 100%;
}
#slider .carousel-caption {
	float: right;
	padding: 0;
	top: 50px;
	right: 20px;
	bottom: 0;
	left: 190px;
	color: #2f2f2f;
	font-size: 20px;
	font-weight: normal;
	text-shadow: none;
	text-align: justify;
}
#slider .yt-video .carousel-caption {
	display: block;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#slider .yt-video .carousel-caption a {
	background: url('../ico/play-btn.png') no-repeat center center;
	display: block;
	height: 100%;
	width: 100%;
	transition: all .2s ease-out;
}
#slider .yt-video .carousel-caption a:hover {
	background-image: url('../ico/play-btn-hover.png');
}
#questions-btn {
	width: 40%;
	float: left;
	margin-left: 2.5%;
}
#get-started-btn {
	width: 40%;
	float: right;
	margin-right: 2.5%;
}
#questions-btn img, #get-started-btn img {
	max-width: 100%;
}
#slider .carousel-control {
	opacity: 0;
	font-size: 75px;
	width: 10%;
	z-index: 999999;
	transition: all .2s ease-in;
}
.carousel-control.left {
	background: url('../ico/left-arrow.png') no-repeat 50% 50%;
}
.carousel-control.right {
	background: url('../ico/right-arrow.png') no-repeat 50% 50%;
}
#slider:hover .carousel-control {
	opacity: .65;
}

/* SOCIAL BUTTONS */
#social-buttons {
	float:right;
	width:6%;
}
#social-buttons a {
	display: block;
	width: 75%;
	margin-top: 15px;
	float:right;
	opacity: .85;
}
#social-buttons a:hover {
	opacity: 1;
}
#social-buttons a img {
	max-width: 100%;
}

@media all and (max-width: 960px) {
	.mainBody {
		margin-top: 600px;
	}
}

@media all and (max-width: 768px) {
	.navbar {
		height: auto;
		background: #2f2f2f;
		background: rgba(47,47,47,.85);
	}
	#saba-logo {
		display: none;
	}
	#ks-logo {
		margin: 0 auto;
		display: block;
		float: none;
	}
	#join {
		display: block;
		float: none;
		margin: 0;
	}
	#join img {
		display: block;
		margin: 25px auto;
	}
	#slider {
		width: 100%;
	}
	#social-buttons {
		width: 100%;
	}
	#social-buttons a {
		width: 50%;
		float: left;
	}
	#social-buttons a img {
		display: block;
		margin: 0 auto;
	}
}

@media all and (max-width: 400px) {
	#ks-logo {
		margin-top: 13px;
	}
}

